.main {
  width: 100%;
  position: relative;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main__intro {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__intro-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.main__intro-box {
  padding: 30px;
  background-color: orange;
}

.main__intro-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(270deg, #00000000 50%, #000000 100%);
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main__intro-content {
  padding: 100px;
  text-wrap: wrap;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main__intro-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #44e75b;
}

.main__intro-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.main__intro-btn {
  padding: 11px 30px;
  background-color: #44e75b;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}

.main__intro-btn:hover {
  background-color: #0d5a91;
}

/* Child care section of homepage */
.main__childcare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__childcare-heading {
  padding: 25px 0;
  font-size: 26px;
}

.main__childcare-cards {
  display: flex;
}

.main__childcare-card {
  margin: 0px 6px;
  padding: 15px;
  color: white;
}

.main__childcare-red {
  background-color: red;
}

.main__childcare-green {
  background-color: #36ad47;
}

.main__childcare-icon {
  width: 60px;
  height: 60px;
}

.main__childcare-title {
  font-size: 26px;
  font-weight: bold;
}

.main__childcare-text {
  font-size: 16px;
}

.main__childcare-btn {
  background-color: white;
  color: red;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 20px;
}

.btn-green {
  color: #36ad47;
}

/* Support section */
.main__support {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__support-heading {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 0 20px;
}

.main__support-subtext {
  text-align: center;
  font-size: 15px;
  text-wrap: wrap;
  padding: 0 20px;
}

.main__support-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 30px;
  gap: 80px;
}

.main__support-content {
  padding: 35px 0;
  max-width: 560px;
}

.main__support-icon {
  width: 37px;
  height: 28px;
  margin-top: 15px;
} 

.main__support-title {
  font-size: 25px;
  font-weight: bold;
}

.main__support-img {
  width: 480px;
  height: 312px;
}

.main__support-text {
  text-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .main__intro-title {
    font-size: 12px;
    margin-bottom: 0;
    color: #44e75b;
  }

  .main__intro-heading {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .main__intro-btn {
    padding: 6px 12px;
    background-color: #44e75b;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 12px;
    cursor: pointer;
  }

  .main__intro-content {
    padding: 20px;
  }

  .main__intro-box {
    padding: 15px;
  }

  /* Child care section of homepage */
  .main__childcare-heading {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }

  .main__childcare-icon {
    width: 30px;
    height: 30px;
  }

  .main__childcare-title {
    font-size: 20px;
    margin: 0;
  }

  .main__childcare-cards {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .main__childcare-card {
    margin: 0;
    flex-wrap: wrap;
  }

  .main__childcare-text {
    font-size: 12px;
    margin: 10px 0;
  }

  /* Support section */ 
  .main__support-heading {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
  }

  .main__support-card {
    margin: 10px;   
    flex-wrap: wrap;
    gap: 10px;
  }

  .main__support-content {
    padding: 0;
    width: 100%;
  }

  .main__support-img {
    max-height: 181px;
    width: 278px;
    align-self: center;
  }

  .main__support-card:nth-child(2) {
    flex-direction: column-reverse;
 align-items: flex-start;
 justify-items: flex-start;
 justify-content: flex-start;
  }
}


