.header {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-evenly;
}

.header__logo {
  min-width: 161px;
  width: fit-content;
  height: 47px;
  padding: 0 20px;
}

.header__links {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.header__link {
  padding: 5px 7px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.header__link:hover {
  color: #0f70b4;
  transform: translateX(2px);
}

.header__dropdown-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.header__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  padding: 10px 30px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header__dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
  text-wrap: nowrap;
}

.header__dropdown-item:hover {
  color: #ff9800;
}

.header__dropdown-container:hover .header__dropdown {
  display: block;
}

.header__mobile-view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}

.header__menu-icon {
  visibility: hidden;
}

.header__links-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 160px;
  left: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.941);
  padding: 0;
  box-shadow: none;
  z-index: 2;
  visibility: hidden;
  box-shadow: 1px 1px 20px white;
}

.header__link-mobile {
  width: 100%;
  text-decoration: none;
  border: solid 1px black;
  padding: 10px;
  margin: 0;
}

.header__link-mobile:hover {
  color: #0f70b4;
  transform: translateX(2px);
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Below the menu but above other content */
}

.header__dropdown-icon {
  width: 20px;
  height: 20px;
}

.header__link-about {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
  padding: 5px 7px;
  font-size: 16px;
}

.header__link-about:hover {
  color: #0f70b4;
  transform: translateX(2px);
}

.header__menu-close {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

@media screen and (max-width: 1020px) {
  .header__link {
    font-size: 12px;
  }

  .header__link-about {
    font-size: 12px;
  }
}

@media screen and (max-width: 770px) {
  .header {
    flex-wrap: wrap;
  }

  .header__links {
    display: none;
  }

  .header__mobile-view {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .header__menu-icon {
    visibility: visible;
    background: transparent url(../../assets/menu.svg) no-repeat;
    color: black;
    border: none;
    width: 54px;
    height: 54px;
    overflow: auto;
    margin: 0 20px;
  }

  .header__links-mobile {
    visibility: visible;
  }

  .header__link-mobile {
    font-size: 12px;
    color: white;
    border-top: rgba(255, 255, 255, 0.423) 1px solid;
  }

  .header__about {
    border-bottom: none;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .header__about-ext {
    border-top: none;
  }
}
